# Trabajo Práctico N°2: "Un primer encuentro con la EPH"

## Parte I: Familiarizándonos con la base EPH y limpieza

### 2a. Elección de región

Región elegida: Noreste (código: 41)

In [1]:
import os
import numpy as np
import pandas as pd
import openpyxl as pyxl

Comenzamos el proceso de recorte y limpieza de datos:

In [2]:
# Obtener la ruta del directorio actual 
ruta = os.getcwd()
print(ruta)

C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2

In [3]:
# Importación de bases de datos. Las rutas de acceso que se leen en el output de esta celda deben ser modificadas de acuerdo al directorio propio.

db05_raw = pd.read_stata(r"C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2\usu_individual_T105.dta")
db25_raw = pd.read_excel(r"C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2\usu_individual_T125.xlsx")

In [4]:
# Verificación de importación 1
db05_raw.describe()

,nro_hogar,ano4,pondera,pp03d,pp3e_tot,pp3f_tot,pp04b2,pp04b3_mes,pp04b3_ano,pp04b3_dia,...,v9_m,v10_m,v11_m,v12_m,v18_m,v19_am,v21_m,t_vi,itf,ipcf
count,47030.000000,47030.0,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,...,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000
mean,1.041080,2005.0,494.545822,0.065979,15.085690,0.686477,0.034723,0.050606,0.115926,0.030257,...,0.466085,0.678673,0.579417,8.793642,2.365299,0.016691,6.548267,78.944525,1315.167872,358.693196
std,0.219634,0.0,466.800727,0.384652,38.391871,15.576869,0.235051,1.127553,1.480902,1.164662,...,22.283275,35.306324,14.581346,67.350950,266.756548,1.669699,55.623504,384.513324,1365.267645,443.049207
min,1.000000,2005.0,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2005.0,199.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,550.000000,125.000000
50%,1.000000,2005.0,298.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,950.000000,236.250000
75%,1.000000,2005.0,538.000000,0.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1660.000000,442.375000
max,6.000000,2005.0,5707.000000,9.000000,999.000000,999.000000,6.000000,99.000000,99.000000,99.000000,...,3000.000000,4000.000000,1300.000000,3000.000000,50000.000000,180.000000,2500.000000,50000.000000,52050.000000,13012.500000

In [5]:
# Verificación de importación 2
db25_raw.describe()

,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,AGLOMERADO,PONDERA,CH03,CH04,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
count,45425.0,45425.0,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,...,45425.000000,45425.000000,45425.000000,45425.000000,33482.000000,33482.000000,14933.000000,18549.000000,29140.000000,33482.000000
mean,2025.0,1.0,1.034673,2.425427,0.890985,35.524931,23.079141,657.065008,2.432625,1.519736,...,840.512009,1773.506879,1939.212680,1171.766164,5.331223,5.525297,5.248979,5.607526,5.493892,5.523804
std,0.0,0.0,0.684265,1.586030,0.316915,15.018556,17.200937,867.404499,1.590385,0.499616,...,9978.214008,15706.103909,11681.521796,9142.098336,2.770196,2.862296,2.766814,2.849495,2.852169,2.867657
min,2025.0,1.0,1.000000,1.000000,0.000000,1.000000,2.000000,21.000000,1.000000,1.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2025.0,1.0,1.000000,1.000000,1.000000,40.000000,10.000000,181.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,2025.0,1.0,1.000000,2.000000,1.000000,42.000000,22.000000,319.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000
75%,2025.0,1.0,1.000000,3.000000,1.000000,43.000000,32.000000,684.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
max,2025.0,1.0,72.000000,56.000000,2.000000,44.000000,93.000000,8257.000000,10.000000,2.000000,...,450000.000000,600000.000000,350000.000000,342550.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [31]:
# Recortamos los datasets
db05 = db05_raw[db05_raw["region"] == "NEA"].copy()
db25 = db25_raw[db25_raw["REGION"] == 41].copy()

In [32]:
# Verificación de recorte 1
db05.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5453 entries, 18832 to 24284
Columns: 176 entries, CODUSU to idimpp
dtypes: category(94), float64(46), object(36)
memory usage: 4.0+ MB

In [33]:
# Verificación de recorte 2
db25.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4746 entries, 14 to 45413
Columns: 235 entries, CODUSU to P_ADECCF
dtypes: float64(150), int64(80), object(5)
memory usage: 8.5+ MB

In [ ]:
# Convertir de categorical a object
db05['region'] = db05['region'].astype('object')
# Ahora reemplazamos para luego poder hacer el join
db05.loc[db05['region'] == 'NEA', 'region'] = 41

print(db05['region'].unique())
print(db25['REGION'].unique())

In [63]:
#Para elegir las variables, elegimos descartar aquellas que figuren sólo en uno de ambos Datasets.
#Evaluamos cuáles son:

cols05 = list(db05.columns.str.upper())
cols25 = list(db25.columns)
print(cols05)
print(" ")
print(cols25)

['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP']

['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH', 'V2_02_M', 'V2_03_M', 'V5_03_M', 'V11_02_M', 'PP07B1_01', 'EMPLEO', 'SECTOR', 'PP02A', 'PP02B', 'PP02D', 'PP02F', 'PP02G', 'PP03K', 'PP04A1', 'PP05B3', 'PP05I', 'PP05J', 'PP05K', 'PP06E1', 'PP06K', 'PP06K_SEM', 'PP06K_MES', 'PP06L', 'PP07F1_1', 'PP07F1_2', 'PP07F1_3', 'PP07I2', 'PP07I3', 'PP07I4', 'PP07L', 'PP07M', 'PP08G', 'PP08G_DSEM', 'PP08G_DMES', 'PP08H', 'PP10B1', 'PP10B2', 'PP10B3', 'PP10B4', 'PP10B5', 'PP10B6', 'PP10B7', 'PP10B8', 'PP10B9', 'PP10B10', 'PP11L2', 'V2_01_M', 'V5_01_M', 'V5_02_M', 'V11_01_M', 'V21_01_M', 'V21_02_M', 'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF', 'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF']

In [95]:
cols05_filtro = []
cols05_descarte = []

for col in cols05:
    if col in cols25:
        cols05_filtro.append(col)
    else:
        cols05_descarte.append(col)

print('Variables de 2005 que perduraron:\n',cols05_filtro)
print()
print('Variables de 2005 que NO perduraron:\n',cols05_descarte)

Variables de 2005 que perduraron:
 ['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR']

Variables de 2005 que NO perduraron:
 ['V2_M', 'V5_M', 'V11_M', 'V21_M', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP']

In [96]:
cols25_nuevas = []
cols25_viejas = []
for col in cols25:
    if col not in cols05:
        cols25_nuevas.append(col)
    else:
        cols25_viejas.append(col)
 
print('Variables de 2025 que son nuevas:\n',cols25_nuevas)
print()
print('Variables de 2025 que ya existían:\n',cols25_viejas)

Variables de 2025 que son nuevas:
 ['CH05', 'IMPUTA', 'PONDIIO', 'PONDII', 'PONDIH', 'V2_02_M', 'V2_03_M', 'V5_03_M', 'V11_02_M', 'PP07B1_01', 'EMPLEO', 'SECTOR', 'PP02A', 'PP02B', 'PP02D', 'PP02F', 'PP02G', 'PP03K', 'PP04A1', 'PP05B3', 'PP05I', 'PP05J', 'PP05K', 'PP06E1', 'PP06K', 'PP06K_SEM', 'PP06K_MES', 'PP06L', 'PP07F1_1', 'PP07F1_2', 'PP07F1_3', 'PP07I2', 'PP07I3', 'PP07I4', 'PP07L', 'PP07M', 'PP08G', 'PP08G_DSEM', 'PP08G_DMES', 'PP08H', 'PP10B1', 'PP10B2', 'PP10B3', 'PP10B4', 'PP10B5', 'PP10B6', 'PP10B7', 'PP10B8', 'PP10B9', 'PP10B10', 'PP11L2', 'V2_01_M', 'V5_01_M', 'V5_02_M', 'V11_01_M', 'V21_01_M', 'V21_02_M', 'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF', 'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF']

Variables de 2025 que ya existían:
 ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR']

In [68]:
# Chequeo de que las 'Variables 2005 que perduraron' son exactamente las 'Variables 2025 que ya existían'
errorcheck = []

for col in cols05_filtro:
    if col not in cols25_viejas:
        errorcheck.append(col)
    else:
        pass
print(errorcheck) # Si está vacío, se implementó bien el cruce

[]

In [97]:
# Ahora recortamos ambos datasets para quedarnos sólo con las columnas compartidas entre ambos
db05_new = db05[cols05_filtro]
db25_new = db25[cols25_viejas]

Ahora, procedemos a hacer el recorte de variables, en el cual tenemos que quedarnos con 15 de ellas

In [101]:
# Variables obligatorias:
obli = ['CH04','CH06','CH07','CH08','NIVEL_ED','ESTADO','CAT_INAC','IPCF']