# Trabajo Práctico N°2: "Un primer encuentro con la EPH"

## Parte I: Familiarizándonos con la base EPH y limpieza

### 2a. Elección de región

Región elegida: Noreste (código: 41)

In [1]:
import os
import numpy as np
import pandas as pd
import openpyxl as pyxl

Comenzamos el proceso de recorte y limpieza de datos:

In [2]:
# Obtener la ruta del directorio actual 
ruta = os.getcwd()
print(ruta)

C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2

In [3]:
# Importación de bases de datos. Las rutas de acceso que se leen en el output de esta celda deben ser modificadas de acuerdo al directorio propio.

db05_raw = pd.read_stata(r"C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2\usu_individual_T105.dta")
db25_raw = pd.read_excel(r"C:\Users\franc\Documents\Facultad\Big Data y Machine Learning\TPs\TP2\usu_individual_T125.xlsx")

In [4]:
# Verificación de importación 1
db05_raw.describe()

,nro_hogar,ano4,pondera,pp03d,pp3e_tot,pp3f_tot,pp04b2,pp04b3_mes,pp04b3_ano,pp04b3_dia,...,v9_m,v10_m,v11_m,v12_m,v18_m,v19_am,v21_m,t_vi,itf,ipcf
count,47030.000000,47030.0,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,...,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000,47030.000000
mean,1.041080,2005.0,494.545822,0.065979,15.085690,0.686477,0.034723,0.050606,0.115926,0.030257,...,0.466085,0.678673,0.579417,8.793642,2.365299,0.016691,6.548267,78.944525,1315.167872,358.693196
std,0.219634,0.0,466.800727,0.384652,38.391871,15.576869,0.235051,1.127553,1.480902,1.164662,...,22.283275,35.306324,14.581346,67.350950,266.756548,1.669699,55.623504,384.513324,1365.267645,443.049207
min,1.000000,2005.0,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2005.0,199.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,550.000000,125.000000
50%,1.000000,2005.0,298.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,950.000000,236.250000
75%,1.000000,2005.0,538.000000,0.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1660.000000,442.375000
max,6.000000,2005.0,5707.000000,9.000000,999.000000,999.000000,6.000000,99.000000,99.000000,99.000000,...,3000.000000,4000.000000,1300.000000,3000.000000,50000.000000,180.000000,2500.000000,50000.000000,52050.000000,13012.500000

In [5]:
# Verificación de importación 2
db25_raw.describe()

,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,AGLOMERADO,PONDERA,CH03,CH04,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
count,45425.0,45425.0,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,45425.000000,...,45425.000000,45425.000000,45425.000000,45425.000000,33482.000000,33482.000000,14933.000000,18549.000000,29140.000000,33482.000000
mean,2025.0,1.0,1.034673,2.425427,0.890985,35.524931,23.079141,657.065008,2.432625,1.519736,...,840.512009,1773.506879,1939.212680,1171.766164,5.331223,5.525297,5.248979,5.607526,5.493892,5.523804
std,0.0,0.0,0.684265,1.586030,0.316915,15.018556,17.200937,867.404499,1.590385,0.499616,...,9978.214008,15706.103909,11681.521796,9142.098336,2.770196,2.862296,2.766814,2.849495,2.852169,2.867657
min,2025.0,1.0,1.000000,1.000000,0.000000,1.000000,2.000000,21.000000,1.000000,1.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2025.0,1.0,1.000000,1.000000,1.000000,40.000000,10.000000,181.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,2025.0,1.0,1.000000,2.000000,1.000000,42.000000,22.000000,319.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000
75%,2025.0,1.0,1.000000,3.000000,1.000000,43.000000,32.000000,684.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
max,2025.0,1.0,72.000000,56.000000,2.000000,44.000000,93.000000,8257.000000,10.000000,2.000000,...,450000.000000,600000.000000,350000.000000,342550.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [6]:
# Recortamos los datasets
db05 = db05_raw[db05_raw["region"] == "NEA"].copy()
db25 = db25_raw[db25_raw["REGION"] == 41].copy()

In [7]:
# Verificación de recorte 1
db05.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5453 entries, 18832 to 24284
Columns: 176 entries, CODUSU to idimpp
dtypes: category(94), float64(46), object(36)
memory usage: 4.0+ MB

In [8]:
# Verificación de recorte 2
db25.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4746 entries, 14 to 45413
Columns: 235 entries, CODUSU to P_ADECCF
dtypes: float64(150), int64(80), object(5)
memory usage: 8.5+ MB

In [9]:
# Convertir de categorical a object
db05['region'] = db05['region'].astype('object')
# Ahora reemplazamos para luego poder hacer el join mediante el código '41'
db05.loc[db05['region'] == 'NEA', 'region'] = 41

print(db05['region'].unique())
print(db25['REGION'].unique())

[41]
[41]

In [20]:
#Para el proceso de elección de variables, empezamos descartando aquellas variables que figuren sólo en uno de ambos Datasets.
#Evaluamos cuáles son:
db05.columns = db05.columns.str.upper()  # Modifica el DF
cols05 = list(db05.columns.str.upper())
cols25 = list(db25.columns)

In [21]:
cols05_filtro = []
cols05_descarte = []

for col in cols05:
    if col in cols25:
        cols05_filtro.append(col)
    else:
        cols05_descarte.append(col)

print(cols05_filtro)
print()

['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR']

In [22]:
cols25_nuevas = []
cols25_viejas = []
for col in cols25:
    if col not in cols05:
        cols25_nuevas.append(col)
    else:
        cols25_viejas.append(col)

In [23]:
# Chequeo de que las 'Variables 2005 que perduraron' son exactamente las 'Variables 2025 que ya existían'
errorcheck = []

for col in cols05_filtro:
    if col not in cols25_viejas:
        errorcheck.append(col)
    else:
        pass
print(errorcheck) # Si está vacío, se implementó bien el cruce

[]

In [24]:
# Ahora recortamos ambos datasets para quedarnos sólo con las columnas compartidas entre ambos
db05_new = db05[cols05_filtro]
db25_new = db25[cols25_viejas]

Continuamos con la etapa de Merging

In [25]:
dbconcat = pd.concat([db05_new,db25_new])
dbconcat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10199 entries, 18832 to 45413
Columns: 168 entries, CODUSU to ADECCFR
dtypes: float64(42), object(126)
memory usage: 13.2+ MB

Ahora, procedemos a hacer el recorte de variables, en el cual tenemos que quedarnos con 15 de ellas.

De antemano, tenemos las siguientes 8 variables como obligatorias:
- CH04: Sexo
- CH06: Edad
- CH07: Estado civil
- CH08: Cobertura médica
- NIVEL_ED: Nivel educativo
- ESTADO: Condición de actividad laboral
- CAT_INAC: Categoría de inactividad
- IPCF: Monto de ingreso per cápita familiar
<br><br>
Nuestras variables elegidas son:
- CAT_OCUP: Categoría ocupacional (Cuentapropista, empleado, etc.)
- PP06E: Tipo de constitución jurídica de la actividad de trabajadores independientes
- PP04G: ¿Dónde realiza principalmente sus tareas?
- PP03I: ¿En los últimos 30 días, buscó trabajar más horas?
- PP07K: Documentación asociada al cobro de los asalariados
- P21: Monto de ingreso de la ocupación principal
- T_VI: Monto de ingresos no laborales

In [26]:
# Variables obligatorias:
obligatorias = ['CODUSU','ANO4','CH04','CH06','CH07','CH08','NIVEL_ED','ESTADO','CAT_INAC','IPCF'] # conservamos ANO4 y CODUSU por fuera de las 15 a analizar

# Variables elegidas:
elegidas = ['CAT_OCUP','PP06E','PP04G','PP03I','PP07K','P21','T_VI']

#Chequeamos que las elegidas estén en ambos datasets:
faltantes = []
for col in elegidas:
    if col not in db25_new:
        faltantes.append(col)
    else:
        pass

print(faltantes)

[]

In [27]:
recorte = obligatorias + elegidas
db_recorte = dbconcat[recorte]

# Revisamos "incoherencias" en el formato de los datos para corregirlos
for col in db_recorte:
    print(f"{col}: {db_recorte[col].dtype}")

print()

def revision(dataframe):
    cols_mixtas = []
    mapeo = {}
    
    for col in dataframe:
        if (dataframe[col].dtype in (float,int)) or col in ('ANO4','CODUSU'):
            pass
        else:
            valores_unicos = dataframe[col].unique().tolist()
            cols_mixtas.append(col)
            
            # Crear diccionario anidado: cada valor único como clave con valor vacío
            mapeo[col] = {}
            for valor in valores_unicos:
                if isinstance(valor, (int,float)):
                    pass
                else:
                    mapeo[col][valor] = " "  # o "" para string vacío
            
            print(f"{col}: {valores_unicos}")
    
    print()
    print(cols_mixtas)
    print()
    print(mapeo)

revision(db_recorte)

CODUSU: object
ANO4: float64
CH04: object
CH06: object
CH07: object
CH08: object
NIVEL_ED: object
ESTADO: object
CAT_INAC: object
IPCF: float64
CAT_OCUP: object
PP06E: object
PP04G: object
PP03I: object
PP07K: object
P21: float64
T_VI: float64

CH04: ['Mujer', 'Varón', 1, 2]
CH06: [38.0, 21.0, 16.0, 14.0, 11.0, 9.0, 5.0, 2.0, 'Menos de 1 año', 77.0, 72.0, 66.0, 35.0, 12.0, 10.0, 32.0, 28.0, 1.0, 89.0, 33.0, 15.0, 6.0, 3.0, 48.0, 13.0, 4.0, 17.0, 37.0, 22.0, 74.0, 76.0, 50.0, 55.0, 47.0, 43.0, 8.0, 51.0, 20.0, 44.0, 58.0, 60.0, 29.0, 90.0, 36.0, 18.0, 31.0, 27.0, 23.0, 19.0, 52.0, 24.0, 56.0, 7.0, 30.0, 39.0, 54.0, 78.0, 49.0, 25.0, 42.0, 67.0, 45.0, 26.0, 34.0, 53.0, 71.0, 40.0, 65.0, 41.0, 59.0, 46.0, 87.0, 82.0, 64.0, 57.0, 61.0, 84.0, 68.0, 69.0, 73.0, 62.0, 63.0, 79.0, 80.0, 86.0, 85.0, 81.0, 97.0, 70.0, 83.0, 88.0, 75.0, 91.0, 93.0, 92.0, '98 y más años', -1, 96, 99, 94, 95]
CH07: ['Viudo', 'Unido', 'Soltero', 'Casado', 'Separado o divorciado', 2, 5, 1, 3, 4]
CH08: ['No paga ni le descuentan', 'Obra social (incluye PAMI)', 'Mutual/Prepaga/Servicio de emergencia', 'Obra social y mutual/prepaga/servicio de emergencia', 'Ns./Nr.', 1.0, 4.0, 3.0, 2.0, 9.0, 123.0, 12.0]
NIVEL_ED: ['Primaria Incompleta (incluye educación especial)', 'Secundaria Incompleta', 'Primaria Completa', 'Sin instrucción', 'Secundaria Completa', 'Superior Universitaria Incompleta', 'Superior Universitaria Completa', 4, 7, 1, 3, 6, 5, 2]
ESTADO: ['Ocupado', 'Inactivo', 'Menor de 10 años', 'Desocupado', 'Entrevista individual no realizada (no respuesta al cuestion', 1, 3, 4, 2, 0]
CAT_INAC: [0.0, 'Ama de casa', 'Estudiante', 'Menor de 6 años', 'Jubilado/pensionado', 'Otros', 'Discapacitado', 'Rentista', 4, 5, 3, 7, 1, 6, 2]
CAT_OCUP: ['Obrero o empleado', 0.0, 'Cuenta propia', 'Patrón', 'Trabajador familiar sin remuneración', 3, 2, 1, 4]
PP06E: [0.0, 'O es una sociedad convenida de palabra?', 'Es una sociedad de otra forma legal?', 'Es una sociedad jurídicamente constituida? (S.A., S.R.L., Co', nan, 3.0, 2.0, 1.0]
PP04G: ['En otro lugar', 'En un local/oficina/establecimiento/negocio/taller/chacra/fi', 0.0, 'En el domicilio/local de los clientes', 'En obras en construcción, de infraestructura, minería o simi', 'En vehículo para transporte de personas y mercaderías-aéreo,', 'En la calle/espacios públicos/ambulante/de casa en casa/pues', 'En esta vivienda', 'En la vivienda del socio o del patrón', 'En vehículos: bicicleta/moto/auto/barco/bote (no incluye ser', 'En puesto o kiosco fijo callejero', 'Ns./Nr.', 4.0, nan, 8.0, 12.0, 11.0, 9.0, 6.0, 3.0, 5.0, 10.0, 7.0, 13.0]
PP03I: ['No', 0.0, 'Sí', 'Ns./Nr.', 2.0, nan, 1.0, 9.0]
PP07K: ['...le dan recibo con sello/membrete/firma del empleador?', '...no le dan ni entrega nada?', 0.0, 'no cobra, es trabajador sin pago, ad-honorem', '...le dan un papel/recibo sin nada?', '...entrega una factura?', 'Ns./Nr.', 1.0, nan, 4.0, 2.0, 3.0]

['CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'CAT_OCUP', 'PP06E', 'PP04G', 'PP03I', 'PP07K']

{'CH04': {'Mujer': ' ', 'Varón': ' '}, 'CH06': {'Menos de 1 año': ' ', '98 y más años': ' '}, 'CH07': {'Viudo': ' ', 'Unido': ' ', 'Soltero': ' ', 'Casado': ' ', 'Separado o divorciado': ' '}, 'CH08': {'No paga ni le descuentan': ' ', 'Obra social (incluye PAMI)': ' ', 'Mutual/Prepaga/Servicio de emergencia': ' ', 'Obra social y mutual/prepaga/servicio de emergencia': ' ', 'Ns./Nr.': ' '}, 'NIVEL_ED': {'Primaria Incompleta (incluye educación especial)': ' ', 'Secundaria Incompleta': ' ', 'Primaria Completa': ' ', 'Sin instrucción': ' ', 'Secundaria Completa': ' ', 'Superior Universitaria Incompleta': ' ', 'Superior Universitaria Completa': ' '}, 'ESTADO': {'Ocupado': ' ', 'Inactivo': ' ', 'Menor de 10 años': ' ', 'Desocupado': ' ', 'Entrevista individual no realizada (no respuesta al cuestion': ' '}, 'CAT_INAC': {'Ama de casa': ' ', 'Estudiante': ' ', 'Menor de 6 años': ' ', 'Jubilado/pensionado': ' ', 'Otros': ' ', 'Discapacitado': ' ', 'Rentista': ' '}, 'CAT_OCUP': {'Obrero o empleado': ' ', 'Cuenta propia': ' ', 'Patrón': ' ', 'Trabajador familiar sin remuneración': ' '}, 'PP06E': {'O es una sociedad convenida de palabra?': ' ', 'Es una sociedad de otra forma legal?': ' ', 'Es una sociedad jurídicamente constituida? (S.A., S.R.L., Co': ' '}, 'PP04G': {'En otro lugar': ' ', 'En un local/oficina/establecimiento/negocio/taller/chacra/fi': ' ', 'En el domicilio/local de los clientes': ' ', 'En obras en construcción, de infraestructura, minería o simi': ' ', 'En vehículo para transporte de personas y mercaderías-aéreo,': ' ', 'En la calle/espacios públicos/ambulante/de casa en casa/pues': ' ', 'En esta vivienda': ' ', 'En la vivienda del socio o del patrón': ' ', 'En vehículos: bicicleta/moto/auto/barco/bote (no incluye ser': ' ', 'En puesto o kiosco fijo callejero': ' ', 'Ns./Nr.': ' '}, 'PP03I': {'No': ' ', 'Sí': ' ', 'Ns./Nr.': ' '}, 'PP07K': {'...le dan recibo con sello/membrete/firma del empleador?': ' ', '...no le dan ni entrega nada?': ' ', 'no cobra, es trabajador sin pago, ad-honorem': ' ', '...le dan un papel/recibo sin nada?': ' ', '...entrega una factura?': ' ', 'Ns./Nr.': ' '}}

Ahora, reemplazamos todos los registros que estén en formato string por su correspondiente código especificado en el Diccionario de la EPH.

In [28]:
mapeo_reemplazos = {
    "CH04": {"Mujer": "2", "Varón": "1"},
    "CH06": {"Menos de 1 año": "0", "98 y más años": "98"},
    "CH07": {
        "Viudo": int(4),
        "Unido": int(1),
        "Soltero": int(5),
        "Casado": int(2),
        "Separado o divorciado": int(3),
    },
    "CH08": {
        "No paga ni le descuentan": "4",
        "Obra social (incluye PAMI)": "1",
        "Mutual/Prepaga/Servicio de emergencia": "2",
        "Obra social y mutual/prepaga/servicio de emergencia": "12",
        "Ns./Nr.": "9",
    },
    "NIVEL_ED": {
        "Primaria Incompleta (incluye educación especial)": "1",
        "Secundaria Incompleta": "3",
        "Primaria Completa": "2",
        "Sin instrucción": "7",
        "Secundaria Completa": "4",
        "Superior Universitaria Incompleta": "5",
        "Superior Universitaria Completa": "6",
    },
    "ESTADO": {
        "Ocupado": "1",
        "Inactivo": "3",
        "Menor de 10 años": "4",
        "Desocupado": "2",
        "Entrevista individual no realizada (no respuesta al cuestion": "0",
    },
    "CAT_INAC": {
        "Ama de casa": "4",
        "Estudiante": "3",
        "Menor de 6 años": "5",
        "Jubilado/pensionado": "1",
        "Otros": "7",
        "Discapacitado": "6",
        "Rentista": "2",
    },
    "CAT_OCUP": {
        "Obrero o empleado": "3",
        "Cuenta propia": "2",
        "Patrón": "1",
        "Trabajador familiar sin remuneración": "4",
    },
    "PP06E": {
        "O es una sociedad convenida de palabra?": "3",
        "Es una sociedad de otra forma legal?": "2",
        "Es una sociedad jurídicamente constituida? (S.A., S.R.L., Co": "1",
    },
    "PP04G": {
        "En otro lugar": "10",
        "En un local/oficina/establecimiento/negocio/taller/chacra/fi": "1",
        "En el domicilio/local de los clientes": "8",
        "En obras en construcción, de infraestructura, minería o simi": "5",
        "En vehículo para transporte de personas y mercaderías-aéreo,": "4",
        "En la calle/espacios públicos/ambulante/de casa en casa/pues": "9",
        "En esta vivienda": "6",
        "En la vivienda del socio o del patrón": "7",
        "En vehículos: bicicleta/moto/auto/barco/bote (no incluye ser": "3",
        "En puesto o kiosco fijo callejero": "2",
        "Ns./Nr.": "0",
    },
    "PP03I": {"No": "2", "Sí": "3", "Ns./Nr.": "9"},
    "PP07K": {
        "...le dan recibo con sello/membrete/firma del empleador?": "1",
        "...no le dan ni entrega nada?": "4",
        "no cobra, es trabajador sin pago, ad-honorem": "5",
        "...le dan un papel/recibo sin nada?": "2",
        "...entrega una factura?": "3",
        "Ns./Nr.": "0",
    },
}

for columna, reemplazos in mapeo_reemplazos.items():
    for clave, valor in reemplazos.items():
        mapeo_reemplazos[columna][clave] = int(valor)

print(mapeo_reemplazos)

{'CH04': {'Mujer': 2, 'Varón': 1}, 'CH06': {'Menos de 1 año': 0, '98 y más años': 98}, 'CH07': {'Viudo': 4, 'Unido': 1, 'Soltero': 5, 'Casado': 2, 'Separado o divorciado': 3}, 'CH08': {'No paga ni le descuentan': 4, 'Obra social (incluye PAMI)': 1, 'Mutual/Prepaga/Servicio de emergencia': 2, 'Obra social y mutual/prepaga/servicio de emergencia': 12, 'Ns./Nr.': 9}, 'NIVEL_ED': {'Primaria Incompleta (incluye educación especial)': 1, 'Secundaria Incompleta': 3, 'Primaria Completa': 2, 'Sin instrucción': 7, 'Secundaria Completa': 4, 'Superior Universitaria Incompleta': 5, 'Superior Universitaria Completa': 6}, 'ESTADO': {'Ocupado': 1, 'Inactivo': 3, 'Menor de 10 años': 4, 'Desocupado': 2, 'Entrevista individual no realizada (no respuesta al cuestion': 0}, 'CAT_INAC': {'Ama de casa': 4, 'Estudiante': 3, 'Menor de 6 años': 5, 'Jubilado/pensionado': 1, 'Otros': 7, 'Discapacitado': 6, 'Rentista': 2}, 'CAT_OCUP': {'Obrero o empleado': 3, 'Cuenta propia': 2, 'Patrón': 1, 'Trabajador familiar sin remuneración': 4}, 'PP06E': {'O es una sociedad convenida de palabra?': 3, 'Es una sociedad de otra forma legal?': 2, 'Es una sociedad jurídicamente constituida? (S.A., S.R.L., Co': 1}, 'PP04G': {'En otro lugar': 10, 'En un local/oficina/establecimiento/negocio/taller/chacra/fi': 1, 'En el domicilio/local de los clientes': 8, 'En obras en construcción, de infraestructura, minería o simi': 5, 'En vehículo para transporte de personas y mercaderías-aéreo,': 4, 'En la calle/espacios públicos/ambulante/de casa en casa/pues': 9, 'En esta vivienda': 6, 'En la vivienda del socio o del patrón': 7, 'En vehículos: bicicleta/moto/auto/barco/bote (no incluye ser': 3, 'En puesto o kiosco fijo callejero': 2, 'Ns./Nr.': 0}, 'PP03I': {'No': 2, 'Sí': 3, 'Ns./Nr.': 9}, 'PP07K': {'...le dan recibo con sello/membrete/firma del empleador?': 1, '...no le dan ni entrega nada?': 4, 'no cobra, es trabajador sin pago, ad-honorem': 5, '...le dan un papel/recibo sin nada?': 2, '...entrega una factura?': 3, 'Ns./Nr.': 0}}

In [30]:
for columna, reemplazos in mapeo_reemplazos.items():
    for valor_original, valor_nuevo in reemplazos.items():
        db_recorte.loc[db_recorte[columna] == valor_original, columna] = valor_nuevo

In [31]:
revision(db_recorte)

[]

{}

In [32]:
db_recorte.head(25)

,CODUSU,ANO4,CH04,CH06,CH07,CH08,NIVEL_ED,ESTADO,CAT_INAC,IPCF,CAT_OCUP,PP06E,PP04G,PP03I,PP07K,P21,T_VI
18832,125012,2005.0,2,38.0,4,4.0,1,1,0.0,36.000000,3.0,0.0,10.0,2.0,1.0,150.0,0.0
18833,125012,2005.0,1,21.0,1,1.0,1,1,0.0,36.000000,3.0,0.0,1.0,2.0,4.0,0.0,210.0
18834,125012,2005.0,2,21.0,1,4.0,3,3,4.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18835,125012,2005.0,1,16.0,5,4.0,1,3,3.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18836,125012,2005.0,2,14.0,5,4.0,2,3,3.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18837,125012,2005.0,2,11.0,5,4.0,1,3,3.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18838,125012,2005.0,1,9.0,5,4.0,1,4,3.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18839,125012,2005.0,1,5.0,5,4.0,1,4,5.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18840,125012,2005.0,2,2.0,5,4.0,7,4,5.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18841,125012,2005.0,1,0.0,5,4.0,7,4,5.0,36.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18842,125064,2005.0,2,77.0,1,1.0,4,3,1.0,509.000000,0.0,0.0,0.0,0.0,0.0,0.0,519.0
18843,125064,2005.0,1,72.0,1,1.0,2,3,1.0,509.000000,0.0,0.0,0.0,0.0,0.0,0.0,499.0
18844,125090,2005.0,2,66.0,4,1.0,1,1,0.0,140.000000,3.0,0.0,1.0,2.0,5.0,0.0,400.0
18845,125090,2005.0,1,35.0,5,1.0,3,1,0.0,140.000000,3.0,0.0,1.0,2.0,1.0,300.0,0.0
18846,125090,2005.0,2,14.0,5,4.0,3,3,3.0,140.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18847,125090,2005.0,1,12.0,5,4.0,1,3,3.0,140.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18848,125090,2005.0,2,10.0,5,4.0,1,3,3.0,140.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18849,125482,2005.0,1,32.0,2,1.0,5,1,0.0,526.666667,3.0,0.0,8.0,3.0,1.0,1200.0,0.0
18850,125482,2005.0,2,28.0,2,1.0,6,1,0.0,526.666667,3.0,0.0,1.0,2.0,1.0,380.0,0.0
18851,125482,2005.0,2,1.0,5,1.0,7,4,5.0,526.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18852,125860,2005.0,1,89.0,1,4.0,1,3,1.0,217.500000,0.0,0.0,0.0,0.0,0.0,0.0,435.0
18853,125860,2005.0,2,66.0,1,4.0,1,3,4.0,217.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18854,126426,2005.0,2,33.0,5,4.0,3,1,0.0,109.000000,2.0,0.0,1.0,3.0,0.0,70.0,475.0
18855,126426,2005.0,2,16.0,5,4.0,3,3,3.0,109.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18856,126426,2005.0,2,15.0,5,4.0,3,3,3.0,109.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0